.app {
    max-width: 700px;
    min-width: 375px;
    background-color: #fff;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    padding: 17px 20px;
    box-shadow: 1px 1px 10px rgba(211, 211, 211, 0.5);
    border-bottom: 1px solid #f7fafd;
    position: sticky;
    top: 0;
}

header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

header .title--count {
    display: flex;
    align-items: flex-end;
}

header .title {
    background-color: #dde7ee;
    padding: 3px 13px;
    border-radius: 5px;
}

header .count {
    margin-left: 10px;
    color: #fff;
    background-color: #0a317b;
    padding: 3px 13px;
    border-radius: 5px;
    display: block;
    /* -webkit-animation: countUpdate 1s; */
}

.update {
    animation: countUpdate 1s;
}

header .toggler-of-all-notifications {
    justify-self: right;
    cursor: pointer;
    color: #5e6778;
    margin-left: 20px;
    text-align: right;
}

.main-container {
    background-color: teal;
    overflow-y: hidden;
}

main {
    display: grid;
    row-gap: 13px;
    margin-top: 10px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 20px;
}

@media (min-width: 701px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f7fafd;
    }

    .app {
        border: 1px solid rgba(215, 215, 215, 0.516);
        border-radius: 10px;
        max-height: 90vh;
        height: auto;
        margin: 0 auto;
        box-shadow: 4px 1px 20px #a5a5a514, -4px 1px 20px #a5a5a514;
        overflow-y: auto;
    }

    header {
        border-bottom: 1px solid rgba(215, 215, 215, 0.516);
    }
}

@keyframes countUpdate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
