.app {
    max-width: 43.75em;
    /* min-width: 29.375em; */
    background-color: var(--app-background-color);
}

/* Works on Chrome, Edge, and Safari */
.app::-webkit-scrollbar {
    width: 0.4375em;
    cursor: pointer;
}

.app::-webkit-scrollbar-track {
    background-color: var(--app-background-color);
    border-radius: 0 0 0.625em 0;
    box-shadow: inset -0.0625em 0.0625em 0.1875em 0.0625em var(--scrollbar-box-shadow-color);
    margin-top: 4.61em;
    margin-right: 0.3125em;
    border-top: 0.0625em solid var(--scrollbar-border-top-color);
}

.app::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background-color);
    border-radius: 0 0 0.625em 0.625em;
    border-top: 0.0625em solid var(--scrollbar-border-top-color);
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--app-background-color);
    padding: 1.063em 1.25em;
    box-shadow: 0.0625em 0.0625em 0.625em var(--header-box-shadow-color);
    border-bottom: 0.0625em solid var(--header-border-bottom-color);
    position: sticky;
    z-index: 1;
    top: 0;
}

header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

header .title--count {
    display: flex;
    align-items: flex-start;
}

header .title {
    color: var(--header-title-color);
    background-color: var(--header-title-background-color);
    padding: 0.188em 0.813em;
    border-radius: 0.313em;
}

header .count--plus {
    margin-left: 0.625em;
    color: var(--header-count-color);
    background-color: var(--header-count-background-color);
    padding: 0.295em 0.813em;
    border-radius: 0.313em;
    display: flex;
}

header .plus {
    line-height: 0.78;
}

header .toggler-of-all-notifications {
    justify-self: right;
    cursor: pointer;
    color: var(--header-toggler-of-all-notifications-color);
    margin-left: 1.25em;
    text-align: right;
    font-weight: 500;
    user-select: none;
}

header .toggler-of-all-notifications:hover {
    color: var(--header-toggler-of-all-notifications-color-hover);
}

main {
    display: grid;
    row-gap: 0.813em;
    margin-top: 0.625em;
    padding-left: 1.063em;
    padding-right: 1.063em;
    padding-bottom: 1.25em;
}

@media screen and (min-width: 43.813em) {
    .app {
        border: 0.0625em solid var(--app-border-color);
        border-radius: 0.625em;
        max-height: 90vh;
        height: auto;
        margin: 0 auto;
        box-shadow: 0 0.25em 0.625em 0.188em var(--app-box-shadow-color);
        overflow-y: auto;
    }
}
