.section-notification {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.063em;
    border-radius: 0.625em;
    cursor: pointer;
}

.notification-read {
    background-color: var(--notification-read-background-color);
}

.notification-unread {
    background-color: var(--notification-unread-background-color);
}

.section-notification .outer-div {
    display: flex;
    align-items: flex-start;
}

.section-notification .inner-div {
    margin-left: 1.063em;
}

.section-notification p {
    margin-top: 0;
    margin-bottom: 0;
}

.section-notification .profile-picture {
    width: 2.813em;
    height: 2.813em;
    object-fit: cover;
    border-radius: 50%;
    border: 0.125em solid var(--profile-picture-border-color);
}

.section-notification .name {
    font-weight: 700;
    color: var(--notification-name-color);
}

.section-notification .event {
    color: var(--notification-event-color);
    margin-left: 0.313em;
}

.section-notification .post {
    font-weight: 600;
    margin-left: 0.313em;
    color: var(--notification-post-color);
}

.section-notification .group {
    font-weight: 600;
    margin-left: 0.313em;
    color: var(--notification-group-color);
}

.section-notification .group:hover {
    font-weight: 700;
}

.section-notification .dot {
    margin-left: 0.625em;
    font-size: 1.25rem;
    line-height: 0.1;
    color: var(--dot-unread-color);
}

.dot::selection {
    user-select: none;
}

.section-notification time {
    color: var(--notification-time-color);
}

.section-notification .message {
    margin-top: 1.063em;
    border: 0.0625em solid var(--notification-message-border-color);
    border-radius: 0.375em;
    padding: 1.063em;
    color: var(--notification-message-unread-color);
}

.section-notification .message-read {
    background-color: var(--message-read-background-color);
    color: var(--notification-message-read-color);
}

.section-notification .picture {
    width: 3.125em;
    height: 3.125em;
    border-radius: 0.438em;
    object-fit: cover;
    margin-left: 1.25em;
}

.section-notification .picture {
    padding: 0.125em;
    border: 0.0625em solid var(--notification-unread-background-color);
}

.section-notification .picture-read {
    border-color: var(--picture-read-border-color);
}
